
#include "hw_common.xcconfig"
#include "sdl2.xcconfig"

CONFIGURATION_BUILD_DIR         = $(HW_BUILD_DIR_OUT)
CONFIGURATION_TEMP_DIR          = $(HW_BUILD_DIR_INT)

USER_HEADER_SEARCH_PATHS        = $(inherited) $(PROJECT_DIR) $(HW_INCLUDES) $(HW_THIRDPARTY_INCLUDES) $(SDL2_INCLUDES)
HEADER_SEARCH_PATHS             = $(inherited) $(PROJECT_DIR) 

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited)

//USE_HEADERMAP                   = NO
//GCC_PREFIX_HEADER               = ChapterDemo.pch
//GCC_PRECOMPILE_PREFIX_HEADER    = YES

OTHER_LDFLAGS = -L$(HW_BUILD_DIR_OUT) -L$(SDL2_LOCATION) -framework cocoa -framework foundation -framework opengl

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) _X86_64 HW_GAME_HOMEWORLD=1 HW_BUILD_FOR_DEBUGGING=1 GENERIC_ETGCALLFUNCTION

CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
